@import url("http://fonts.cdnfonts.com/css/gilroy-bold?styles=20879");
/* font-family: "Gilroy-Bold", sans-serif;
font-family: "Gilroy-Heavy", sans-serif;
font-family: "Gilroy-Light", sans-serif;
font-family: "Gilroy-Medium", sans-serif;
font-family: "Gilroy-Regular", sans-serif; */
